{% extends "body.html" %}
{% block title %}{{ config.NAME }} - Codes!{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Avaliable Credits</h1>
    <p class="lead">Check below for tooling our partners provide to help your projects!</p>
</div>
<div class="card-columns">
    {% for code in codes %}

    <div class="card">
        <div style="margin: 1em;">
            <img class="card-img-top" src="{{ code.banner }}" alt="Logo">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ code.name }}</h5>
            <p class="card-text">
                {{ code.description }}
            </p>
            <div class="text-center">
                {% if code.claimed and code.code %}
                <p class="card-text">{{ code.code}}</p>
                {% else %}
                <a href="#" class="btn btn-primary">Claim!</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
