{% extends "body.html" %}
{% block title %}{{ config.NAME }} - Codes!{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Avaliable Credits</h1>
    <p class="lead">Check below for tooling our partners provide to help your projects!</p>
</div>
<div class="card-columns">
    {% for code in codes %}
    <div class="card">
        <div style="margin: 1em;">
            <img class="card-img-top" src="{{ code.banner }}" alt="Logo">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ code.title }}</h5>
            <p class="card-text">
                {{ code.description|safe }}
            </p>
            <div class="text-center">
                {% if code.is_claimed and code.user_code %}
                <p class="card-text">Your promo code is: <pre>{{ code.user_code}}</pre></p>
                {% else %}
                {% if code.avaliable %}
                    <form method="post" action="/console/claim/{{ code.id }}">
                        <button type="submit" class="btn btn-primary">Claim</button>
                    </form>
                {% else %}
                    <p>This code isn't currently available</p>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
